infra-webmvc/src/main/resources/web-configuration-4.0.dtd

<!--
<!DOCTYPE Web-Configuration PUBLIC
		"-//TODAY BLOG//Web-View Configuration DTD 4.0//CN"
			"https://taketoday.cn/framework/web/dtd/web-configuration-4.0.dtd">
-->

<!ELEMENT Web-Configuration (#PCDATA|controller)*>

<!ELEMENT controller (action)*>
	<!ATTLIST controller
		prefix CDATA "/WEB-INF/ftl"
		suffix CDATA ".ftl"
	>

<!ELEMENT action (#PCDATA)>
	<!ATTLIST action
		name CDATA #REQUIRED
		status CDATA #IMPLIED
		resource CDATA #IMPLIED
		content-type CDATA "text/html;charset=UTF-8"
		type (forward|redirect) #IMPLIED
	>
